<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f0f0f0; padding: 20px;">

    <div style="background-color: #ffffff; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 20px; text-align: center;">
        <h1 style="color: #ff6600; font-size: 24px; margin-bottom: 20px;">Entrada de Halloween-13</h1>
        <p style="font-size: 18px;">Hola <strong>{{ titular }}</strong>,</p>
        <p style="font-size: 18px; margin-bottom: 20px;">Aquí tienes tu entrada a la fiesta del año.</p>
        <div style="text-align: center;">
            <img src="{{ qr }}" alt="Entrada en formato QR" style="max-width: 200px; margin: 0 auto;">
        </div>
        <p style="font-size: 18px; margin-top: 20px;">Recuerda que tú y tus acompañantes deben mostrar esta entrada para entrar al local.</p>
        <p style="font-size: 18px;">Si tienes alguna pregunta, no dudes en contactar a <a href="https://www.instagram.com/kike4ever/" style="color: #ff6600; text-decoration: none; font-size: 18px;">@kike4ever</a> en Instagram.</p>
        <p style="font-size: 18px;">Aquí tienes un enlace para unirte al grupo de WhatsApp: <a href="{{ enlace }}" style="color: #ff6600; text-decoration: none; font-size: 18px;">Unirse al grupo</a></p>
    </div>
</body>
</html>
